html{
    font-size:40px;
    background-color:crimson;
    
}
body{
    font-size:40px;
}
#mainDiv{
    font-size:32px;

}
#div1{
    font-size:2em;
    height:1em;
    background-color:hotpink
}
#div2{
    font-size:2rem;
    height:2rem;
    background-color:aquamarine;
}
#div3{

}
